.HeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    height: 80px;
    flex: 0 0 47px;
    background-color: #2c5c3c;
    color: white;
}
